*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.whole-container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  height: min(100vh);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min(50%);
}

.card-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.card {
  flex: 1 4 min(50%);
  border: 5px red solid;
}

#hide-form {
  order: 5;
}
